* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html.body {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
}

ul {
  width: 100%;
  height: 230px;
}

ul li {
  width: 100%;
  height: 100%;
  flex-grow: 0;
}

ul li img {
  width: 100%;
  height: 100%;
}
